body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.navbar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar-menu a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.order-section {
    width: 30%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-section h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.update-button {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-button:hover {
    background-color: #0056b3;
}

.order-card {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.order-actions {
    display: flex;
    justify-content: space-between;
}

.confirm-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    flex-grow: 1;
    margin-right: 10px;
}

.confirm-button:hover {
    background-color: #218838;
}

.decline-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    flex-grow: 1;
}

.decline-button:hover {
    background-color: #c82333;
}

.finalize-button, .details-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px 0 0;
}

.finalize-button:hover, .details-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
